
<div class="grid-container">
  <h1 class="text-center"><%= artist.artistName %></h1>
  
  <div class="media-object">
    <div class="media-object-section align-middle">
      <img src="<%= artist.image %>" alt="">
    </div>
          <span>
            <form method="POST" action="/favorites">
              <input type="hidden" name="name" value="<%= artist.url %>">
              <button type="submit"><i class="fi-heart"></i></button>
            </form>
          </span>
    <div class="media-object-section">
      <% let bio = artist.biography.replace(/\s*\[.*?\]\s*/g, " ") %> 
      <% let bioArr = bio.split(" ").splice(0, 200).join(" ") %> 
      <%= `${bioArr}... ` %> <a href="<%= artist.story %>" target="_blank">Read More</a>
    </div>
  </div>
  
  
  
  <h4 class="text-center"> Works by <%= artist.artistName %></h4>
    <div class="grid-x grid-padding-x align-middle">
      <% for (let i = 0; i < 7; i ++) { %>
        <div class="cell large-3 medium-2 align-justify">
          <img src="<%= paintings[i].image %>" alt="">
        </div>
      <% } %> 
    </div>
</div>

